@{
    ViewData["Title"] = "Mission Accomplished";
}

<div>
    <h1 class="display-4 text-center">Mission Accomplished!</h1>
    <div>
        <p>
            Congratulations! You have completed all the tasks.
        </p>
        <p>
            (Optional, but encouraged!) -- Implement an additional controller action of your choosing. Use one or more public API endpoints to retrieve data sets, and do something interesting with that data! The choice is up to you, but this is your opportunity to show us what else you can do with C#. You may use this page (Views/Home/MissionComplete.cshtml) to display the data.
        </p>
        <p>
            Once you are done with all the works (e.g., including code formatting and cleaning up unused lines), please submit the project source code to your own GitHub repository and send us the link via email for further reviews.
        </p>
    </div>
</div>

<div class="text-center">
    <a class="btn btn-primary" href="@Url.Action("Index", "Home")" role="button">OK</a>
</div>
