@model string

@{
    ViewData["Title"] = "Task #1";
}

<div class="task1 common">
    <div class="task-header">Task #1: Retrieve API Key</div>

    <ol>
        <li>Go to the HomeController.cs file and review the instruction from #TODO comments under "Task1" controller action.</li>
        <li>Observe that the code is intended to connect to API call and retrieve an API key for the upcoming request. However, it is not working at this time.</li>
        <li>Debug and step through the code on HomeController.cs, Task1GetApiKeyResponse.cs, and TerminalService.cs to ensure that API Key is obtained successfully.</li>
        <li>Once you have obtained the API key, go back to the <a href="https://codechallenge.rexelapps.com/" target="_blank">terminal</a>  and type, <span class="terminal-code">validate task1 {API KEY}</span> (without the curly braces).</li>
        <li>Click OK once the terminal gives you the green light.</li>
    </ol>
    
    <div id="api-key-input">
        <label for="FirstName">API Key:</label>
        <input type="text" class="api-input" @*disabled*@ value="@Model" required>
    </div>

    <div class="task1-lower-controls">
       
        <div class="text-center">
       
            <button class="sky-neon" onclick="window.location.href = '@Url.Action("Index", "Home")'">Back</button>
           
            @if (!string.IsNullOrEmpty(Model))
            {
                <button class="sky-neon" onclick="window.location.href = '@Url.Action("Task2", "Home")'">Submit</button>
            }
            else
            {
                <button type="button" class="submit-button disabled" href="#" role="button">Submit</button>
            }

            <button class="sky-neon" onclick="window.location.href = '@Url.Action("Task1", "Home")'">Skip</button>

        </div>
    </div>
</div>


<style>

    .task1-lower-controls {
        width: 42%;
        position: absolute;
        right: 29%;
        top: 80%;

    }
    .api-input {
        color: green;
        background-color: black;
    }
   
    #api-key-input {
        FONT-WEIGHT: 100;
        position: absolute;
        top: 62%;
        left: 30%;
        margin-bottom: 7%;
    }
  
</style>
